
/* Notification bar */
header{
    background: #eae8e4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    position: fixed;
    z-index: 999;

}

header img{
    width: 12.5rem;
    height: 100%;
    transition: 0.5s;
    
}

.navigation  a:link{
    /* margin: 10px; */
    
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--yellow-color);

}

header .navigation{
    position: relative;
    display: flex;
    gap: 20px;

}

.navigation a:after{
    content: '';
    display: block;
    width: 0px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -10px;
    transition: 0.5s;
    
}
header img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}



header  a:visited{
    color:var(--yellow-color);

}

.navigation a:hover::after{
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -10px;
}

         
.btn-grad {
    background-image: linear-gradient(to right, var(--yellow-color) 0%, #061700  51%, var(--yellow-color)  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 

/* hero */
section{
    padding: 100px 200px;
    
}

.main{
    width: 100%;
    padding-top:150px ;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  var(--main-color);
    line-height: 1.5;
    gap: 100px
}

.main h2{
    font-family:var(--heder-text);
    font-weight:900;
    font-size:var(--20px);
    padding-bottom: 10px;
    color: var(--yellow-color);
}

.main h2 span{
    font-family:var(--heder-text);
    font-weight:900;
    font-size:var(--30px);
    color: #eae8e4;
}

.main h3{
    font-family:var(--heder-text);
    font-weight:900;
    font-size:var(--20px);
    padding-bottom: var(--30px);
    color: var(--yellow-color);
}

.main .main-btn{
    color:var(--main-color);
    background-color: #eae8e4;
    /* padding: var(--16px); */
    padding: 0.9375em 2.1875em;
    border-radius: var(--10px);
    letter-spacing: 1.5;
    display: inline-block;
    transition: 0.5s;
    text-align: center;
}

.main .main-btn:hover{
    background-color: #a5a4a1;
    transform: scale(1.1);
    
}

.main .social-icons{
    padding-top:var(--30px) ;
    display: flex;
    gap: 10px
    
}

.main .social-icons a i{
    color: #eae8e4;
    transition: 0.5s;
    
}

.main .social-icons a i:hover{
    background-color: #a5a4a1;
    transform: scale(1.1);
}

.hero-img img{
    width: 250px;
    transition: 0.5s ease;
}


.hero-img img:hover{
    box-shadow: 14px 10px 15px 15px rgba(95, 94, 9, 0.3);
}
