
/* Notification bar */
header{
    background: #eae8e4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    position: fixed;
    z-index: 999;
}

header img{
    width: 12.5rem;
    height: 100%;
    transition: 0.5s;
    
}

.navigation  a:link{
    /* margin: 10px; */
    
    font-weight: bold;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--yellow-color);

}

header .navigation{
    position: relative;
    display: flex;
    gap: 20px;

}

.navigation a:after{
    content: '';
    display: block;
    width: 0px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -10px;
    transition: 0.5s;
    
}
header img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}



header  a:visited{
    color:var(--yellow-color);

}

.navigation a:hover::after{
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -10px;
}

         
.btn-grad {
    background-image: linear-gradient(to right, var(--yellow-color) 0%, #061700  51%, var(--yellow-color)  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: none;
  }

  .btn-grad:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }
 

/* hero */

.main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  var(--main-color);
    line-height: 1.5;
    padding: 200px 100px;
    flex-direction: row;
    flex-wrap:wrap-reverse;
    gap: 30px;

}

.main h2{
    font-family:var(--heder-text);
    font-weight:900;
    font-size:var(--20px);
    padding-bottom: 10px;
    color: var(--yellow-color);
}

.main h2 span{
    font-family:var(--heder-text);
    font-weight:900;
    font-size:var(--30px);
    color: #eae8e4;
}

.main h3{
    font-family:var(--heder-text);
    font-weight:900;
    font-size:var(--20px);
    padding-bottom: var(--30px);
    color: var(--yellow-color);
}

.main .main-btn{
    color:var(--main-color);
    background-color: #eae8e4;
    padding: 0.9375em 2.1875em;
    border-radius: var(--10px);
    letter-spacing: 1.5;
    display: inline-block;
    transition: 0.5s;
    text-align: center;
}

.main .main-btn:hover{
    background-color: #a5a4a1;
    transform: scale(1.1);
    
}

.main .social-icons{
    padding-top:var(--30px) ;
    display: flex;
    gap: 10px
    
}

.main .social-icons a i{
    color: #eae8e4;
    transition: 0.5s;
    
}

.main .social-icons a i:hover{
    background-color: #a5a4a1;
    transform: scale(1.1);
}

.hero-img img{
    width: 250px;
    transition: 0.5s ease;
}


.hero-img img:hover{
    box-shadow: 14px 10px 15px 15px rgba(95, 94, 9, 0.3);
}


/* waving hand with delay */

.emoji{
    font-size: 30px;
    animation: waveing-hand 2.5s infinite;
    transform-origin: 70% 70%;  
    display: inline-block;
}

@keyframes waveing-hand {
    0% {
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(14deg);
    } 
    20%{
        transform: rotate(-8deg);
    }
    30%{
        transform: rotate(14deg);
    }
    40%{
        transform: rotate(-4deg);
    }
    50%{
        transform: rotate(10deg);
    } 
    60%{
        transform: rotate(0deg);
    } 
    100%{
        transform: rotate(0deg);
    } 
}

/* services */

.Cards{
    padding: 100px;
    width: 100%;
    background-color:var(--yellow-color) ;
}

.titel-services{
    font-family: var(--heder-text);
    font-weight: 900;
    font-size: 2em;
    margin-bottom: 50px; 
    text-align: center;
    position: relative;
}

.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.content .card-one{
    display: flex;
    flex-direction:column;
    width: 21.25em;
    height: 100%;
    border: 2px black solid;
    padding: 50px;
    margin: 15px;
    transition: 0.5s ease;

    
}

.content .card-one:hover{
    transform: scale(1.1);  
    background-color:rgba(0, 0, 0, 0.3);
}

.card-one i{
    font-size: 5rem;
    align-self: center;
    padding-bottom: 60px;
    text-align: center;

}
.card-one .info{
    text-align: center;
    line-height: 1.5;
}

.card-one .info h3{
    font-family: var(--heder-text);
    font-weight: 900;
    font-size: 1.5rem;
    text-transform:capitalize;
    color: var(--main-color);
    align-self: center;
    margin-bottom: 15px;
}

.card-one .info p{
    text-transform:capitalize;
    color: var(--what-color);

}

/* project */

.projects .titel-services{
    color: var(--yellow-color);
    padding-top: 100px;
}

.projects{
    background-color: var(--main-color);
}

.projects .content{
    margin-top: 30px;
}

.project-card{
    background-color: var(--yellow-color);
    border: 1px solid var(--what-color) ;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    margin: 20px;
    border-radius:10px ;
    transition: 0.7s ease;
}

.project-card:hover{
    transform: scale(1.1);
}

.project-card:hover .project-img{
    opacity: 0.9;
}

.project-img img{
    width: 100%;
}

.project-info{
    padding: 1em;
}

.project-category{
    font-size: 0.8em;
    color: var(--what-color);
}

.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px ;
}

.more-details{
    color: var(--what-color);
    transition: .5S ease;
}

.more-details:hover{
    color: var(--main-color);
}


/* contact */

.contact{
    background-color: var(--yellow-color);
    padding: 100px;
}

/* footer */
.footer{
    background-color: var(--main-color);
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer p{
    color: var(--what-color);
    font-size: 1.3em;
    font-weight: 600;
}   

.footer p span{
    color: var(--yellow-color);
    font-size: 1.3em;
    font-weight: 600;
}   

@media (max-width:1023){
    header{
        padding: 12px 24px;
    }
    header img{
        width: 2.5rem;
        height: 100%;
        transition: 0.5s;
        
    }

    header .navigation{
        position: relative;
        display: flex;
        gap: 5px;
    
    }
}